* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: black;
  height: 100vh;
  color: white;
}

.card {
  background: #323232;
  margin: 0 auto;
  width: 50%;
  margin-top: 30px;
  /* height: 40%; */
  border-radius: 15px;
  padding: 10px 0;
}
.input {
  display: flex;
  /* flex-direction: column; */
  padding: 9px 5px;
  height: 20%;
  justify-content: space-around;
}
.input > input {
  color: black;
  height: 30px;
  width: 260px;
  flex: 0.8;
  outline: none;
  border: 4px solid black;
  padding: 0 5px;
  font-size: large;
}

button {
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
  background: black;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: rgb(0, 0, 0, 0.3);
}
.output {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  border-top: 1px solid black;
  margin: 15px 0;
  align-items: center;
}
.output > button {
  width: max-content;
}
a {
  color: white;
  font-size: large;
}
